*{
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  scroll-behavior: smooth;

}

body{
  background-color: #000;
}

:root{
      --darkback:#6929A5;
      --darkbtn:#DB4566;
      --lightback:#F9ECE6;
      --lightbtn:#F9ECE6;
      --transparent:rgba(255,255,255,0.3);
      --footercolor:#2D2D2D;
      --navbarcolor:#F9ECE6
  }

.home{
  
  background-image: url(image/template.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0%;
}
.navbar a{
  text-decoration: none;
  color: black;
}

.navbar h1{
  background-color:  rgb(255, 153, 0);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 10px;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 10px;
  }

.nav-pannel a{
  text-decoration: none;
  color: white;
}

.nav-pannel a:hover{
  color: rgb(255, 153, 0);
  cursor: pointer;
  transition: .3s ease-in-out;
}

.nav-pannel{
  background-color:#222f3d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 5rem;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.7rem;
  
}
.show-head{
  margin-top: 5rem;
  margin-left: 8rem;
  font-size: 2.5rem;
  color:rgb(255, 255, 255);
  justify-content: center;
}
.home .first .h1{
  position: relative;
  margin-bottom: 170px;
  margin-left: 100px;
}

.show-para{
  width: 50%;
  color: #fff;
  display: grid;
  text-align: center;
  margin-left: 22rem;
  margin-top: 28rem;
  font-size: 1.7rem;
}


.con-btn{
  height: 3rem;
  width: 10rem;
  margin-top: 2rem;
  margin-left: 17rem;
  cursor: pointer;
  background-color:aquamarine;
  border-radius: 10px;
  border: 2px solid aquamarine;
  letter-spacing: 0.2em;
  /* box-shadow: 2px #fff; */
}
.con-btn:hover {
  background-color:#fff;
  border: 3px solid aquamarine;
  letter-spacing: 0.4em;
  transition: 3sec ease-in-out;
}
.con-btn:focus {
  background-color:#fff;
  border: 3px solid aquamarine;
  transition: 3sec ease-in-out;
}
.con-btn a{
  font-size: 1.2rem;
}
.show-para img{
  height: 30rem;
  width: 30rem;
  margin-left: 46.5rem;
  margin-top: -20rem;
  border-radius: 1rem;
}
  
/*    section 1    */

.shop{
  margin-top: 10rem;
  background-color: rgb(212, 198, 193);
}


.shop h1{
  text-align: center;
  color: #000;
  font-size: 3rem;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;

}

.shop-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color:#e2e7e6;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  
}

.box{
  height: 320px;
  border: 2px solid black;
  width: 20rem;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
  background-size: cover;

}
.box-content h2{
  margin-left: 30%;
}
.box-img{
  height: 280px;
  margin-top: 7px;
  width: 280px;
 
}
.box-img img{
  height: 280px;
  margin-top: 7px;
  width: 280px;
 
}
.box-img img:hover{
  height: 290px;
  margin-bottom: 7px;
  width: 290px;
  transition: 0.3s ease-in-out;
}
.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content{
  color:#222f3d ;
}


/* section 2  */

.arr-back{
  background: rgb(0,212,255);
  background: linear-gradient(127deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 47%, rgba(2,0,36,1) 100%);
  height: 30rem;
  margin-top: 3rem;
  border-radius: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
    .arr-new{
    
            width: 50%;
            height:30rem;
            color: black;
       }
       .arr-new h1{
padding-top: 6rem;
padding-left: 3rem;
font-size: 2rem;
color: black;

 
       }

       .arr-new p{
        padding-left: 3rem;
        padding-top: 1.5rem;
        font-size: 1.5rem;
        color: black;
       }
     .btn-div{
      padding-left: 3rem;
      padding-top: 1.5rem;
  
     }
    .arr-button{
      height: 2.5rem;
      width: 7rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: .3s ease-in-out;
      font-size: 1.3rem;
      background-color: rgb(218, 116, 133);
    }
    .see-more{
      background-color: white;
    }
    .arr-img{
      background-image: url(image/code.jpg);
     background-size: cover;
      height: 27rem;
    width: 100%;
 margin-left :40rem ;
 margin-top: -22.5rem;
 border-radius: 1rem;

    }

    /*  section 3  */
    .why-us h1{
      text-align: center;
      padding-top: 2rem;
      font-size: 3rem;
   
    }
    .why-shop{   height: 20rem;
 }
.why-item{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 6rem;

}
.why-item i{
  font-size: 2rem;
}
.why-box{
  background-color: white;
  height: 15rem;
  width: 20rem;
  border-radius: 1rem;
padding-top: 3rem;
}
.why-item p{
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

/* section 4  */

.gift{
  height: 40rem;
  background: rgb(0,212,255);
background: linear-gradient(127deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 47%, rgba(2,0,36,1) 100%);
  margin-top: 10rem;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;  
}
.gift-img{
  background-image: url(image/laptop.png);
  background-size: cover;
  height: 100%;
  width: 35rem;
  margin-left: 2rem;
  margin-right: 5rem;
margin-top: 5rem;
}
.gift h1{
  display: flex;
  justify-content: end;
 margin-top: -25rem;
 margin-right: 15rem;
 font-size: 3rem;
 color: white;
}
.gift p{
  width: 50%;
  margin-left: 43.5rem;
  color: white;
  font-size: 1.5rem;
  padding-top: 2rem;
}

.gift-btn{
  margin-left: 43.5rem;
  margin-top: 2rem;
}
.gift-btn button{
  height: 2.5rem;
  width: 7rem;
  border-radius: .5rem;
  font-size: 1.3rem;
 
}
.gift-btn button:hover{
  background-color: rgb(0, 51, 255);
  cursor: pointer;
  transition: .3s ease-in-out;
}
/* contact section  */
.contact{
  justify-content: center;
  margin-left: 200px;
}
.card {
  width: 70%;
  padding: 30px 90px 90px 90px;
  justify-content: center;
  align-items: center;
}

.card h2 {

  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  margin-left: 200px;
}

.card .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
  grid-gap: 30px;
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 30px 20px 40px 0;
  transition: 0.5s;
}

.card .row .form-group {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ffffff;
}

.card .row .form-group input,
.card .row .form-group textarea {
  position: absolute;
  width: 90%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 24px;
  padding: 10px 0 10px 20px;
  border: 2px solid #fff;
  box-shadow: 10px 10px 0 rgba(254, 253, 253, 0.3);
  color: #ffffff;
  border-radius: 15px;
}

.card .row .form-group label {
  line-height: 40px;
  color: #ffffff;
  font-size: 24px;
  margin: 0 0 0 30px;
  display: block;
  pointer-events: none;
}

.row .col:nth-child(6) {
  margin-top: 64px;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus{
  border: 5px solid #ffffff;
  transition: all 0.5s;
}

.card .row input[type="submit"] {
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(255, 255, 255, 0.3);
  padding: 10px;
  height: 100%;
  width: 50%;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 1);
  color: #ffffff;
  transition: all 0.4s;
}

.card .row input[type="submit"]:hover {
  border: 5px solid rgba(255, 255, 255, 1);
  color: #ffffff;
  transition: all 0.4s;
}

/* contact section end */

footer{
  margin-top: 15px;
}


.foot-pannel1{
  background-color: #67cdcb;
  color: rgb(0, 0, 0);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}
.foot-pannel1 a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
} 
.foot-pannel2{
  background-color: #222f3d;
  color: white;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
 
  }
  .foot-pannel2 i{
    font-size: 2rem
}
ul{
  margin-top: 20px;
}
ul a{
  display: block;
font-size: 0.85rem;
margin-top: 10px;
color: #dddddd;
}
.foot-pannel3{
  background-color: #222f3d;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-pannel3 a{
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
.foot-pannel4{
  background-color: #0f1111;
  color: white;
  height: 80px;
  text-align: center;
  padding-top: 5px;
  font-size: 0.7rem;
}
.pages{
  padding-top: 25px;
}
.copy-right{
  font-size: 0.7rem;
}
